<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.soft_keyboard">

    <application>
        <activity
                android:name=".scroll.ScrollAdjustPanActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />

        <!--android:theme="@style/Theme.FullScreen"-->
        <activity
                android:name=".scroll.ScrollAdjustReSizeActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="false" />
        <activity
                android:name=".funscreen.FullScreenSoftAdjustpanActivity"
                android:exported="false"
                android:theme="@style/Theme.FullScreen"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".funscreen.FullScreenSoftAdjustResizeActivity"
                android:exported="false"
                android:theme="@style/Theme.FullScreen"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".funscreen.FullScreenSoftFitSystemWindowsActivity"
                android:exported="false"
                android:theme="@style/Theme.FullScreen"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".SoftAdjustResizeActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".SoftFitSystemWindowsActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name=".SoftAdjustpanActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustPan" />


        <activity
                android:name=".TestSoftKeyboardActivity"
                android:exported="true"/>

    </application>

</manifest>