<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.viewdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HorizontalVerticalConflictActivity" />
        <activity android:name=".activity.CustomerViewActivity" />
        <activity android:name=".activity.ExpandableListViewActivity" />
        <activity android:name=".activity.VerticalVerticalActivity" />
        <activity android:name=".activity.ScrollViewNestRecyclerViewActivity" />
        <activity android:name=".activity.MaxHeightLayoutActivity" />
        <activity android:name=".activity.BottomSheetActivity" />
        <activity android:name=".activity.ConstraintActivity" />
        <activity android:name=".activity.PercentLayoutActivity" />
        <activity android:name=".activity.TestDragDeleteItemActivity" />
        <activity android:name=".activity.AutoWrapTextViewActivity" />
        <activity android:name=".activity.DragSlopLayoutActivity" />
        <activity android:name=".activity.ViewDragHelperActivity" />
        <activity android:name=".activity.PullToRefreshActivity" />
        <activity android:name=".activity.TextViewActivity" />
        <activity android:name=".activity.MpAndroidChartActivity" />
        <activity android:name=".activity.TestFuDanActivity" />
        <activity android:name=".activity.LoadingDialogActivity" />
        <activity android:name=".activity.EventDispatchActivity" />
        <activity android:name=".activity.ViewStubActivity" />
        <activity android:name=".activity.RoundImageViewActivity" />
        <activity android:name=".activity.RoundImageViewXfermodeActivity" />
        <activity android:name=".activity.XfermodeTestActivity" />
        <activity android:name=".activity.DrawEveryThingActivity" />
        <activity android:name=".activity.ToolsNameSpaceActivity" />
        <activity android:name=".activity.TestHandlerAsyncTaskActivity" />
        <activity android:name=".activity.TimeSelectorActivity" />
        <activity android:name=".activity.ScrollerActivity" />
        <activity android:name=".activity.SupportLibraryActivity"></activity>
    </application>

</manifest>